/**
 * Colors
 */

$black: #000000;
$grey: #b8c2cc;
$white: #ffffff;
$ebony: #212430;
$brick: #D03157;
$blue: #4789C2;
$sienna: #D08654;
$yellow: #EEE659;

/**
 * Font sizes
 */
$fs-xs: px-to-rem(12px);
$fs-sm: px-to-rem(14px);
$fs-m: px-to-rem(16px);
$fs-lg: px-to-rem(24px);
$fs-xl: px-to-rem(32px);

/**
 * Spacings
 */
$container-width: 960px;
