.home {
    padding: 4rem;
    height: 100vh;

    .branding-row {
        .branding {
            font-size: 42px;
            letter-spacing: 4px;

            .logo {
                @apply .bg-transparent .bg-center .bg-no-repeat .rounded-lg .mr-8 .inline-block;
                width: 100px;
                height: 100px;
                background-image: url(../images/logo-128.png);
                background-size: 98px;
            }
        }
    }

    .recent-list {
        li:hover {
            @apply .text-grey;

            > span {
                @apply .text-yellow;
            }
        }
    }
}

.fi-spin {
    transform-origin: 50% 50%;
    animation: rotate 3s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(359deg);
    }
}
