.loading-screen {
  @apply .bg-ebony .text-center .absolute .pin .text-grey-dark .flex .flex-col .justify-center .items-center;

  z-index: 3;

  .logo-bg {
    height: 128px;
    width: 128px;
    background: url(../images/logo-background.png) no-repeat center;
    background-size: 100%;
  }

  &.error {
    progress[value]::-webkit-progress-value {
      @apply .bg-brick;
    }
  }
}
