html {
  height: 100%;
}

body {
  @apply .bg-ebony-darker .overflow-hidden .font-body;

  min-height: 100%;
  height: auto;
}

* {
  outline: none;

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;

    &-track {
      background-color: transparent;
      box-shadow: none;
    }

    &-thumb {
      @apply .bg-ebony-lighter;
      border-radius: 10px;
    }

    &-corner {
      display: none;
      height: 0px;
      width: 0px;
    }
  }
}

.window {
  @apply text-white .overflow-hidden;

  .draggable {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }

  .undraggable {
    -webkit-app-region: no-drag;
  }

  .titlebar {
    @apply .absolute .pin-t .pin-l .pin-r .h-10;

    z-index: 1;
  }

  .content {
    @apply .relative .overflow-hidden;
    height: 100vh;
  }
}

.app {
  &, &::after, &::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
  }

  a[href] {
    cursor: pointer;
  }

  .cursor-pointer * {
    @apply .cursor-pointer;
  }

  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
