html {
    height: 100%;
}

body {
    @apply .bg-ebony-darker .overflow-hidden .font-body;

    min-height: 100%;
    height: auto;
}

.window {
    @apply text-white .overflow-hidden;

    .draggable {
        -webkit-user-select: none;
        -webkit-app-region: drag;
    }

    .undraggable {
        -webkit-app-region: no-drag;
    }

    .titlebar {
        @apply .absolute .pin-t .pin-l .pin-r .h-10;

        z-index: 1;
    }

    .content {
        @apply .relative .overflow-hidden;
        height: 100vh;
    }
}
