.extracting {
    @apply .bg-ebony .text-center .absolute .pin .text-grey-dark .flex .flex-col .justify-center .items-center;
    z-index: 3;

    .fi {
        @apply .text-yellow-dark;
    }
}

.home {
    @apply .absolute .pin .text-center .flex .justify-center .items-center;
}

.fi-spin {
    transform-origin: 50% 50%;
    animation: rotate 3s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(359deg);
    }
}
