html {
    height: 100%;
}

body {
    @apply .bg-ebony-darker .overflow-hidden;

    min-height: 100%;
    height: auto;
}

.window {
    @apply text-white .overflow-hidden;

    .draggable {
        -webkit-user-select: none;
        -webkit-app-region: drag;
    }

    .undraggable {
        -webkit-app-region: no-drag;
    }

    .titlebar {
        @apply .relative .p-1 .text-xs .text-white .bg-ebony .fixed .pin-t .pin-l .pin-r .flex;

        &.windows {
            @apply .flex-row-reverse;

            .titlebar-button.minimize {
                order: 1;
            }
        }

        .titlebar-button {
            @apply .opacity-25 .cursor-pointer;
            transition: opacity 400ms;
            margin-left: 3px;
            margin-right: 3px;

            &:hover {
                @apply .opacity-100 .cursor-pointer;
            }

            &:active {
                transform: scale(0.85);
            }

            &.close:hover {
                @apply .text-brick-dark;
            }
        }

        .title {
            @apply .absolute .pin .text-center .text-grey-dark .flex .items-center .justify-center;

            pointer-events: none;
        }
    }

    .content {
        @apply .relative .overflow-hidden;
        margin-top: 1.3rem;
        height: calc(100vh - 21px);
    }
}
